<link rel="stylesheet" href="css/content.css">
<%- include('banner') %>
<div id="mainContainer">
  <h1> Sản phẩm bán chạy </h1>
  <div class="containerProductGrid">
    <% hotProducts.forEach((item)=>{%>
    <div id="box">
      <a href="/product/<%= item._id%>"><img src=<%=item.preview%>>
        <div id="details">
          <h3 class="name">
            <%= item.name%>
          </h3>
          <h4 class="category">
            Đã bán ( <%= item.sold%> )    Còn lại ( <%= item.amount%> )
          </h4>
          <h2 class="price">
            <%= formatVND(item.price)%>
          </h2>
        </div>
      </a>
    </div>
    <%})%>
  </div>
  <hr>
  <h1> Sản phẩm mới</h1>
  <div class="containerProductGrid">
    <% newProducts.forEach((item)=>{%>
    <div id="box">
      <a href="/product/<%= item._id%>"><img src=<%=item.preview%>>
        <div id="details">
          <h3 class="name">
            <%= item.name%>
          </h3>
          <h4 class="category">
            <%= item.category.name%>
          </h4>
          <h2 class="price">
            <%= formatVND(item.price)%>
          </h2>
        </div>
      </a>
    </div>
    <%})%>
  </div>

</div>
<!-- <script src="js/content.js"></script> -->
<script>
  const accessory = []
  accessory.forEach((item) => {

  })
</script>