<style>

</style>

<div class="dashboard section-content orders-section" id="orders-section">
  <h1 class="page-title">Quản lý đơn hàng</h1>

  <div class="order-filters">
    <select class="filter-item">
      <option value="">Tất cả trạng thái</option>
      <option value="pending">Chờ thanh toán</option>
      <option value="processing">Đang xử lý</option>
      <option value="completed">Hoàn thành</option>
      <option value="cancelled">Đã hủy</option>
    </select>
    <input type="date" class="filter-item">
    <input type="text" class="filter-item" placeholder="Tìm kiếm đơn hàng...">
  </div>

  <div class="recent-orders">
    <table>
      <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Khách hàng</th>
          <th>Ngày đặt</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach((order)=>{%>
        <tr>
          <td><%= order._id%></td>
          <td><%= order.name%></td>
          <td><%= formatDate(order.createdAt)%></td>
          <td><%= formatVND(order.price)%></td>
          <td><span class="status <%= order.status%>"><% if(order.status === "pending"){%>
              Chờ thanh toán
              <%}else if(order.status === "completed"){%>
              Hoàn thành
              <%}else{%>
              Đã hủy
              <%}%></span></td>
          <td>
            <button class="action-btn"><i class="fas fa-eye"></i></button>
            <button class="action-btn"><i class="fas fa-edit"></i></button>
            <button class="action-btn"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
        <%})%>
        
      </tbody>
    </table>
  </div>
</div>