<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/admin/admin.css">k
</head>

<body>
  <% if (error.length > 0) { %>
  <div id="toast" class="toast toast-error"><%= error[0] %></div>
  <% } %>

  <% if (success.length > 0) { %>
  <div id="toast" class="toast toast-success"><%= success[0] %></div>
  <% } %>
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Admin Panel</h2>
    </div>
    <div class="sidebar-menu">
      <a href="/admin" class="menu-item" data-section="dashboard-section">
        <i class="fas fa-tachometer-alt"></i>
        <span>Tổng quan</span>
      </a>
      <a href="/admin/products" class="menu-item" data-section="products-section">
        <i class="fas fa-box"></i>
        <span>Sản phẩm</span>
      </a>
      <a href="/admin/orders" class="menu-item" data-section="orders-section">
        <i class="fas fa-shopping-cart"></i>
        <span>Đơn hàng</span>
      </a>
      <a href="/admin/customer" class="menu-item" data-section="customers-section">
        <i class="fas fa-users"></i>
        <span>Khách hàng</span>
      </a>
      <a href="/admin/category" class="menu-item">
        <i class="fa-solid fa-list"></i>
        <span>Danh mục</span>
      </a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header">
      <button class="toggle-sidebar">
        <i class="fas fa-bars"></i>
      </button>
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Tìm kiếm...">
      </div>
      <div class="header-right">
       
        <div class="user-profile">
          <img src="<%= user.avatar%>>" alt="User Profile">
        </div>
      </div>
    </div>

    <main>
      <%- body %>
    </main>
  </div>


  <script>
    // Toggle Sidebar

    const currentPath = window.location.pathname;

    document.querySelectorAll('a').forEach(link => {
      const linkPath = new URL(link.href, window.location.origin).pathname;
      if (linkPath === currentPath) {
        link.classList.add('active');
      }
    });

    document.querySelector('.toggle-sidebar').addEventListener('click', function() {
      document.querySelector('.sidebar').classList.toggle('active');
      document.querySelector('.main-content').classList.toggle('sidebar-active');
    });

    
  </script>
</body>

</html>